/*
http://www.colorhexa.com/ffa027
*/

.mdl-layout__header {
    background-color: #ffa027;
}

.mdl-card__title.obey{
    background: url(http://moheban-ahlebeit.com/images/Iphone-Wallpapers-Torrent/Iphone-Wallpapers-Torrent-3.jpg) center center / cover;
}


.media-must-have-white-background {
    background-color: white !important;
}

.top-info{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.top-number {
    margin-bottom: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.top-no-absolute {
    position: inherit !important;
}

.site-content{
    min-height: 641px !important
}

@media (min-width: 840px) {
    .mdl-cell--6-col, .mdl-cell--6-col-desktop.mdl-cell--6-col-desktop {
        width: calc(50% - 16px) !important;
    }
    .mdl-cell--12-col, .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
        width: calc(100% - 16px) !important;
    }
}

@media (max-width: 839px) and (min-width: 480px) {
    .mdl-cell--12-col, .mdl-cell--12-col-tablet.mdl-cell--12-col-tablet {
        width: calc(100% - 16px) !important;
    }
}

@media (max-width: 479px) {
    .mdl-cell--12-col, .mdl-cell--12-col-phone.mdl-cell--12-col-phone {
        width: calc(100% - 16px) !important;
    }
}

.custom-title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}

.custom-title.table-title{
    text-align: center;
    margin-top: 25px;
}

.table-has-title {
    /*border-top: 2px solid rgba(0,0,0,.2) !important;*/
    /*border: 1px solid #202020;*/
    -webkit-box-shadow: 0px -4px 2px rgba(0,0,0,.05);
    -moz-box-shadow:    0px -4px 2px rgba(0,0,0,.05);
    box-shadow:         0px -4px 2px rgba(0,0,0,.05);
}

.mdl-cell.text-only {
    padding: 30px;
}

.global-config-form .mdl-textfield,
.global-config-form .mdl-switch {
    display: block;
}

.mdl-textfield {
    width: 100% !important;
}

.mdl-switch{
    height: auto !important;
    margin-bottom: 15px;
}

.error-info{
    margin-top: 20px;
}

.watcher-config-selecter-div{
    padding-left: calc(50% - 150px);
    padding-right: calc(50% - 150px);
}

.watcher-separator{
    height: 2px;
    width: calc(100% + 20px);
    background-color: lightgray;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: -10px;
    margin-right: -10px;
}

input[disabled]{
    cursor:not-allowed !important;
    color: lightgray;
}
.mdl-button--fab.mdl-button--colored.custom-fab {
    background-color:rgb(255, 160, 39) !important;
}
.mdl-button--fab.mdl-button--colored.custom-fab:active {
    background-color:rgb(204, 128, 31) !important;
}
.mdl-color--accent.custom-fab {
     background-color:rgb(255, 160, 39) !important;
}
.mdl-color--accent.custom-fab:active {
    background-color:rgb(204, 128, 31) !important;
}

.watcher-config-page .custom-fab {
    position: absolute;
    top: 25px;
    right: 25px;
}

.exit-fab {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 100;
    background-color: rgb(255, 141, 0) !important;
    color: white !important;
}

@media (max-width: 839px) {
    .scroll-table{
        overflow-x: auto;
        display: block;
    }
}
