/*
http://www.colorhexa.com/ffa027
*/

.mdl-layout__header {
    background-color: #ffa027;
}

.mdl-card__title.obey{
    background: url(http://moheban-ahlebeit.com/images/Iphone-Wallpapers-Torrent/Iphone-Wallpapers-Torrent-3.jpg) center center / cover;
}